@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.color {
    background-image: url('../assets/robot0.jpg'), linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-position: center;
    padding: 20px;
    position: relative;
    min-height: 100vh;
    background-blend-mode: overlay;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    background: rgba(255, 255, 255, 0.3); /* More transparent light background */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    color: black; /* Text color */
}

.btn2 {
    color: white;
    font-weight: 600;
    background-color: rgb(92, 168, 230);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    font-family: "montserrat",sans-serif  ;
    font-size: large;
    transition: background-color 0.3s ease;
    
}

.btn2:hover {
    background-color:rgb(122, 122, 194);
}

.b {
    font-family: "montserrat",sans-serif  ;
    font-size: large;
    color: black;
}

.form-control {
    font-family: "montserrat",sans-serif  ;
    font-size: large;
    color: rgb(5, 4, 4);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    border-color: #6a0dad;;
    outline: none;
    box-shadow: 0 0 5px rgb(89, 74, 225);
}
.heading {
    color: #6a0dad;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0;
    margin-left: 37%;
   
    font-family: "montserrat",sans-serif  ;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Adds a shadow to the text */
    border-bottom: 2px solid #69188f; /* Adds a gold border below the text */
    letter-spacing: 1.5px; /* Increases the spacing between letters */
    text-transform: uppercase; /* Transforms the text to uppercase */
    /* background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)); */
     /* Adds a subtle gradient background */
    display: inline-block; /* Ensures padding and margin work as expected */
}

@media (max-width: 868px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .form-container {
        width: 100%;
        padding: 20px;
    }
}
.text2{
    font-family: "montserrat",sans-serif  ;
    
}


.btn2{
      background-color: #6a0dad;
}